.mainSingleArt{
    display: flex;
    justify-content: center;
   .contentDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    .artImage{
        width: 350px;
        height: 420px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
          0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
.products-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
} 
}
