.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../images/heroBanner.png);
  background-color: #f5f4ee;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: 40%;
  filter: brightness(88%);
}

.hero {
  width: 100vw;
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  .hero-content {
    position: relative;
    font-family: "Monserrat", sans-serif;
    color: #f5f4ee;
    text-align: center;
    margin: 0.625rem;
  }

  .hero-title {
    padding-top: 20px;
    font-size: 40px;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 0;
  }

  .hero-subtitle {
    font-size: 22px;
    font-weight: 400;
    margin-top: 0.5rem;
  }

  .hero-button {
    margin: 10px;
    background-color: #0e0906;
    border: none;
    border-radius: 3px;
    margin-top: 1rem;
    padding: 0.9375rem 1.875rem;
    font-family: "Monserrat", sans-serif;
    font-weight: 600;
    letter-spacing: 2px;
    text-transform: uppercase;
    cursor: pointer;

    a {
      text-decoration: none;
      color: #f5f4ee;
      font-size: 1.2rem;

    }
  }

  .hero-button-two {
    margin: 10px;
    background-color: #f5f4ee;
    border: none;
    ;
    border-radius: 3px;
    margin-top: 1rem;
    padding: 0.9375rem 1.875rem;
    font-family: "Monserrat", sans-serif;
    font-weight: 600;
    letter-spacing: 2px;
    text-transform: uppercase;
    cursor: pointer;

    a {
      text-decoration: none;
      color: #0e0906;
      font-size: 1.2rem;

    }

  }
}


.hero-button:hover, .hero-button-two:hover  {
  background-color: #B6B5B1;
  border: none;

  a {
    text-decoration: none;
    color: #f5f4ee;
    font-size: 1.2rem;

  }
}




.main-home-wrapper {
  margin: 0 auto;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

  .newTitle {
    font-family: "Baskervville", serif;
    font-weight: 500;
    font-size: 2.2rem;
  }

  .artSectionParent {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;


    .artSectionChild {
      width: 20%;
      box-sizing: border-box;

      .artWorkImage {
        border-width: 5px;
        width: 250px;
        height: 320px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
          0 6px 20px 0 rgba(0, 0, 0, 0.19);
      }

      .product-info {
        display: flex;
        flex-direction: row;
        align-items: center;
        font-family: "Montserrat", sans-serif;

        .product-name {
          text-transform: capitalize;
          font-weight: 700;
          font-family: "Montserrat", sans-serif;
        }

        .buy-art-div {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          padding-left: 30px;

          .shopping-cart {
            font-size: x-large;
            color: #0e0906;
          }
        }

      }
    }
  }
}